/* RESET */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,900,900italic,700italic,400italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  background-color: whitesmoke;
}

h4,
.h4-like {
  font-weight: 700;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

h5 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

em {
  font-weight: 700;
}

small {
  font-size: 1.4rem;
}

ul.input-requirements {
  list-style: disc;
  list-style-position: inside;
  font-size: 1.4rem;
  margin-top: 5px;
  margin-left: 5px;
  font-style: italic;
}

.site-title {
  font-size: 1.8rem;
  font-weight: 700;
  display: inline-block;
  padding-left: 10px;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.page-title span {
  background-color: rgba(255, 219, 58, 0.6);
  padding: 0 5px;
}

.page-title .bigger {
  font-size: 3rem;
}

.page-title .smaller {
  font-size: 2rem;
}

.site-nav {
  font-size: 2.4rem;
  line-height: 2;
}

.block__title {
  font-size: 2rem;
  font-weight: 700;
}

.sr-only {
  opacity: 0;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* syntax for IE6 & IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  background: url("../img/bg.png") no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 0 15px;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #c8c8c8;
  display: flex;
  align-items: center;
  z-index: 10;
}

/* Navigation */
.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center;
  justify-contet: center;
}

.site-nav ul {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.site-nav li {
  text-align: center;
}

.site-nav:not(.open) {
  display: none;
}

.site-nav.open {
  display: flex;
}

/* Main */
.site-main {
  margin-top: 80px;
  /* .site-header height + 30px margin */
  margin-bottom: 100px;
}

.page-header {
  margin-bottom: 30px;
}

.block {
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.block .block__header {
  background-color: rgba(255, 219, 58, 0.6);
  box-shadow: 0 0 0 15px rgba(255, 219, 58, 0.6);
  margin-bottom: 30px;
}

/* FormHack v1.2.0 (formhack.io) */
/* Global Reset Styles ------------------ */
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  color: #282828;
  vertical-align: top;
  display: block;
  margin: 0;
}

datalist {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
}

label {
  display: block;
  margin: 0;
}

.input-group {
  display: inline-block;
  width: 100%;
  max-width: 310px;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .input-group {
    max-width: 100%;
    display: block;
  }
}

.input-group--full {
  max-width: 100%;
}

/* Input & Textarea ------------------ */
/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
  width: 100%;
  max-width: 100%;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
}

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  height: 40px;
  -webkit-appearance: none;
}

/* Other */
textarea {
  -webkit-appearance: none;
  overflow: auto;
}

input[type="range"] {
  height: 40px;
  width: 100%;
  max-width: 100%;
}

input[type="file"] {
  min-height: 40px;
}

input[type="search"] {
  height: 40px;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
}

/* Select ------------------ */
select {
  height: 40px;
}

select[multiple] {
  height: auto;
  min-height: 40px;
  padding: 0;
}

select[multiple] option {
  margin: 0;
  padding: 8px;
}

/* Fieldset ------------------ */
.fieldset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
  font-weight: inherit;
}

/* Buttons, Input Type Submit/Reset ------------------ */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  height: 40px;
  width: 100%;
  max-width: 100%;
  background-color: gainsboro;
  padding: 8px;
  cursor: pointer;
  color: #282828;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
}

input[type="image"] {
  text-align: center;
  padding: 8px;
}

button.submit {
  margin: 10px 0;
}

/* States ------------------ */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
  background-color: gainsboro;
  border-color: #c8c8c8;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: #c8c8c8 solid 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: #c8c8c8;
  color: #282828;
}

input:not([required]):valid {
  border-color: #c8c8c8;
}

input:valid,
form.show-errors input:valid {
  border-color: #2ecc71;
}

form.show-errors input:invalid {
  border-color: red;
}

.input-requirements li.valid {
  color: #2ecc71;
}

.input-requirements li.valid:after {
  display: inline-block;
  padding-left: 10px;
  content: "\2713";
}
